*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height:5.4rem ;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

nav{
    width: 84%;
    height: 5.5rem;
    background-color: black;
    display: flex;
    position: relative;
    z-index: 10;
}

nav .header-logo img{
    width: 4.6%;
    position: absolute;
    top: 23%;
    left: 1.35%;
    z-index: 10;
}
nav .header-list{
    position: absolute;
    left: 10%;
    top: 38%;
}
nav .header-list ul {
    list-style: none;
    display: flex;
}
nav .header-list a{
    text-decoration: none;
    color: grey;
    margin-right: 3rem;
    font-size: 1.1rem;
}

.submenu1{
    display: none;
    background-color: black;
}
.submenu1 ul li a{
    font-size: smaller;
    font-family: Helvetica, Arial, sans-serif;
}
.header-list{
    width: 100%;
}

nav .header-list ul li a:hover{
    color: aliceblue;
}

nav .header-list ul li:hover > .submenu1{
    display: grid;
    position: absolute;
    width: 100%;
    opacity: 0.7;
    right: 10%;
    padding-top: 3%;
}
.submenu1 ul{
    display: flex;
    margin-left: 3rem;
}
.submenu1 ul li{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

nav .right-logos{
    display: flex;
    position: absolute;
    right: 1%;
}
nav .right-logos img{
    width: 1.8rem;
    margin-left: 1.5rem;
    margin-right: 2rem;
    margin-top: 1.8rem;

}

.right-logos .l4 img{
    margin-top: 2.3rem;
    width: 1rem;
}
.header-line{
    width: 1px;
    height: 5.4rem;
    background-color: grey;
    margin-right: .9rem;
    position: relative;
}

.content{
    width: 100%;
    position: absolute;
    top: 0%;
    display: grid;
    justify-content: center;
}
.main_img_container{
    width: 100%;
    height: 75vh;
    background-image: url("Images and Logos/Supercell_files/frontpage_hero.246340a2.jpg");
    background-size: 100%;
    text-align: center;
    position: relative;
}
.main_img_container h1{
   position: absolute;
   top: 40%;
   bottom: 60%;
   left: 43%;
   font-size: 2.5rem;
}
.main_img_container p{
    position: relative;
    top: 49%;
    z-index: 3;
    font-size: 1.15rem;
}
.main_img_container button{
    background: linear-gradient(90deg,#1f7aeb,#1f7aeb 44px,#2d85f3 0,#2d85f3);
    border-radius:50em ;
    font-family: Helvetica,Arial,sans-serif;
    border-style: none;
    padding:1rem 1.5rem;
    color: aliceblue;
    justify-content: space-evenly;
    position: absolute;
    top: 75%;
    right: 45%;
    z-index: 3;
}

.main_img_container button i{
    margin-right: 1rem;
}

.grid-container1{
    width: 84%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    position: relative;
    left: 8%;
}
.grid-container1 img{
    width: 100%;
    padding-top: 4rem;
}

.grid-container1 .imgs h3,h4{
    text-align: center;
    margin-top: 1rem;
}

.content .b2{
    margin-top: 4rem;
    margin-left: 45%;
    margin-bottom: 2.5rem;
    
}
.content .b2 button{
    border-radius:9px ;
    font-family: Helvetica,Arial,sans-serif;
    border-style: none;;
    background-color: #1f7aeb;
    color: aliceblue;
    width: 150px;
    height: 45px;
    margin-top: 5%;
}

.grid-nita-pekka{
    display: grid;
    width: 100%;
}
.nita{
    position: relative;
    width: 100%;
    height: 580px;
    background-image: url("Images and Logos/Supercell_files/bg_wmg_brawlstars.0fd2a716.webp");
    position: relative;
}
.pekka{
    height: 580px;
    width: 100%;
    background-color: #1f7aeb;
    position: relative;
    text-align: start;
}
.grid-nita-pekka img{
    width: 550px;
}
.pekka .logos{
    float: left;
}

.nita .logos{
    float: right;
}

.pn-text{
    margin-top: 12%;
    margin-left: 10%;
}
.pn-text p{
    margin-bottom: 40px;
    color: aliceblue;
    font-size: x-large;
}
.pn-text h1{
    margin-bottom: 40px;
    color: aliceblue;
    font-size: x-large;
}

.nita button{
    border-radius:9px ;
    font-family: Helvetica,Arial,sans-serif;
    border-style: none;
    padding:15px 20px;
    background-color: aliceblue;
    color: black;
    width: 120px;
    height: 50px;
}

.pekka button{
    border-radius:9px ;
    font-family: Helvetica,Arial,sans-serif;
    border-style: none;
    padding:15px 20px;
    background-color: #1f7aeb;
    color: aliceblue;
    background-color: aliceblue;
    color: black;
    width: 140px;
    height: 50px;
}

.container-2{
    width: 84%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    margin-top: 120px;
    position: relative;
    left: 8%;
}

.container-2 img{
    width: 100%;
    margin-bottom: 5%;
}

.container-2 .container2-combo1{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 30px;
    margin-bottom: 70px;
}
.container-2 .container2-combo2{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 30px;
    margin-bottom: 70px;
}
.container-2 .container2-combo1 h3{
    margin-left: 20%;
    margin-bottom: 30px;
}
.container-2 .container2-combo1 p{
    margin-left: 20%;
    margin-bottom: 30px;
}
.container-2 .container2-combo2 h3{
    margin-left: 20%;
    margin-bottom: 30px;
}
.container-2 .container2-combo2 p{
    margin-bottom: 30px;
    margin-left: 20%
}
.container-2 .container2-combo1 a{
    text-decoration: none;
    color: #1f7aeb;
    margin-bottom: 30px;
    margin-left: 20%
}
.container-2 .container2-combo2 a{
    text-decoration: none;
    color: #2d85f3;
    margin-bottom: 30px;
    margin-left: 20%
}

.arrow{
    transform: rotate(180deg);
    position: absolute;
    width: 65px;
    right: -10%;
    top: 50%;
}

.tap-buttons{
    /* display: flex; */
    position: relative;
    margin-bottom: 10%;
    left: 92%;
    z-index: 10;
}

.tap-buttons input{
    margin: 1%;
    border-color: aliceblue;
}

footer{
    width: 100%;
    height: 470px;
    background-color: black;
    position:relative;
    justify-content: space-between;
}
.footer-logos i{
    color: aliceblue;
    margin-right: 18px;
    width: 25px;
}

.footer-logos .left{
    position: absolute;
    top: 15%;
    left: 15%;
    display: flex;
}

.footer-logos button{
    background: transparent;
    border-style: none;
    cursor: pointer;
}
.footer-logos img{
    width: 150px;
    margin-right: 10px;
    background-color: transparent;
}

.footer-logos .right{
    position: absolute;
    top: 10%;
    right: 15%;
    display: flex;
    justify-content: space-between;
}
.footer-line{
    position: absolute;
    height: 1px;
    width: 70%;
    background-color: grey;
    top: 26%;
    left: 15%;
}
.f-text1{
    position: absolute;
    top: 33%;
    left:15%;
}

.f-text1 a{
    margin-right: 15px ;
    text-decoration: none;
    color: white;
}
.address{
    position: absolute;
    left: 15%;
    top: 42%;
}
.address p{
    color: grey;
    font-size: 14px;
    margin-bottom: 3px;
}

pre{
    font-family: Helvetica, Arial, sans-serif;
}
.end-logo img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 45%;
    right: 15%;
}
